/*CSS reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Main Css starts for About Me Page*/


body{
    background-color:#4aaaa5;
    font-family: Arial, Helvetica, sans-serif;  
    font-size: 22px;
    width: 100%;
}

.custom{
      background-color: #ffffff;
      border-color: #cccccc;
      padding: 40px;
      border: 2px;
      border-bottom-color: #666666;
}
nav{
    position: fixed;
    top: 0px;
    height: 80px;
    background-color: #4aaaa5;
    width: 220px; 
    margin-left: 100px;
    text-align: center;
    line-height: 70px;
    font-weight: bold;
    color: #ffffff;
    font-size: 30px;
}
a{
    color: #666666;
    text-decoration: none;
    padding: 20px;
}
ul{
    margin:0;
    padding:10px;
    list-style:none;
    float: right;
    color: #cccccc;
    margin-right:50px;
}

li{
    display:inline-block;
    margin:0px;
    color: #cccccc;
    margin-right: 50px;
    border-right: 1px solid #ebebeb;
  

}
.box{
    background-image: url(../images/sativa.png);
    border-top-color: #666666;
    border-top: 1px;
    padding: 160px; 
    height:250px;
    width:100%;
}
header{
    background-color: #ffffff;
    left: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    border-color: #dddddd;
    color: #4aaaa5;
    font-weight: bold;
    font-size: 30px;
    
}
hr { 
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    color: #666666;
  }
.content{
    position: relative;
    top: -100px;
    left: -15px;
    width:960px;
    height: 400px;
    padding: 30px;
    float: left;
    background-color: #ffffff;
    font-size: 18px;
    line-height: 30px;
    color: #666666;
    overflow: auto;
}

#footer{
    position: fixed;
    top: 665px;
    left: 0px;
    width: 1300px;
    padding: 30px;
    margin-top: 10px;
    background-color: #666666;
    color: #cccccc;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
}
   /* Style inputs */
   .box{
       width: 960px;
       height: 270px;
       /* float: left; */
   }
   input[type=text]{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 8pxx;
    resize: vertical;
   }
   textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 8px;
    resize: vertical;
    height:85px;
   }
   input[type=submit] {
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 12px 20px;
    border: none;
  }

  

   .Flexbox{
       float: left;
       justify-content: space-evenly;
   }

   /* .Pic{
    position: relative;
    top: -70px;
    padding: 5px;
    background-color: #4aaaa5;
    color: #ffffff;
    width: 190px;
    text-align: center;
   } */